<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Comment</title>
</head>

<body>
    <h1>add new comment</h1>
    <form action="/comments" method="POST">
        <section>
            <label for="name">username:</label>
            <input name="username" id="name" type="text" placeholder="your name">
        </section>
        </section>
        <label for="comment">comment:</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5" placeholder="comment"></textarea>
        </section>
        <button type="submit">submit</button>
    </form>
    <a href="/comments">Back</a>
</body>

</html>
