<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %> products</title>
</head>

<body>
    <h1><%= category %> products</h1>
    <ul>
        <% for(let Product of Products){ %>
            <li>
                <a href="/products/<%= Product._id %>"><%= Product.name %></a>
            </li>
        <% } %>
    </ul>
    <% if(category !=='All' ){ %>
        <a href="/products">Back</a>
    <% }else {%>
        <a href="/products/new">Add product</a>
    <% } %>
</body>

</html>
