<%- include('partials/head') %>
    <div class="container">
        <h1 class="text-center">This is the home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quod illo optio dignissimos eius voluptates minus autem esse unde odit, similique nulla explicabo quaerat consectetur. Praesentium aliquid doloribus harum consectetur?
        Eligendi odit impedit id sed laborum dicta maxime voluptatum exercitationem, dolore, perspiciatis, dolorum unde. Quibusdam nesciunt quam at necessitatibus et, dolore vel facere distinctio, dolorem exercitationem beatae deserunt iste quo.
        Nihil, laborum. Perspiciatis sit necessitatibus culpa cupiditate, quod praesentium doloribus impedit, ut molestiae delectus mollitia, blanditiis corporis. Vero ipsa aliquid nulla provident modi, dolor cumque rerum, quo quia, harum odio.
        Soluta obcaecati aspernatur veritatis odio quae neque provident culpa, tempora possimus minima reprehenderit ullam quaerat qui similique nostrum architecto ex nisi eaque sit adipisci quidem consectetur, quis commodi debitis? Quos?
        Repellat, tempore magnam natus totam distinctio ad. Dolore, quod ut. Dolor, explicabo optio neque repellendus facere aperiam esse blanditiis dicta dolore facilis quibusdam dolorem minima atque ullam pariatur libero adipisci.
        Officia amet atque ea deleniti enim placeat deserunt, labore reiciendis distinctio animi libero veritatis sit. Dicta fuga animi ipsam dolorem distinctio odio ab, rem, molestias fugiat neque porro sequi impedit?
        Debitis corrupti nam praesentium assumenda amet, quasi quia, aliquam obcaecati facere similique eius natus, voluptatum velit distinctio explicabo possimus vitae molestiae vero doloremque quo quaerat. Minus non molestias in tenetur!
        Ex doloribus numquam aliquam, fugit, iure quo, illum omnis rerum at porro reiciendis fugiat distinctio labore quidem. Quas, ea. Dolorem velit quaerat sapiente accusamus iste sit harum quas voluptas iusto?
        Optio qui est, doloremque alias quae eaque, tempore non expedita autem ut omnis inventore laboriosam maxime, suscipit minus ex porro quas sit provident corrupti aperiam quis labore iure. Asperiores, itaque?
        Et odit nesciunt, quia amet delectus, fugit similique perferendis ducimus ipsum, possimus illo debitis perspiciatis at neque nobis reiciendis. At laborum error atque placeat neque quisquam, obcaecati repellendus provident ad!</p>
    </div>
<%- include('partials/footer') %>
